<section class="content invoice">
  <div class="row">
  <h2> </h2>
    <div class="col-md-12">
      <%= form_for(@historial) do |f| %>
        <% if @historials.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h4><%= pluralize(@historial.errors.count, "errores") %> prohibido guardar este historial:</h4>

            <ul>
            <% @historial.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

  <div class="row">
      <div class="form-group" style="margin-top: 15px;">
        <%= f.label :beneficiario_id,"Nombre", :class =>"col-md-1" %>
      </div>
      <div class="form_group"  style="margin-bottom: 10px;">
        <%= f.text_field :beneficiario_id, placeholder: "Ingrese Nombre" , :class =>"col-md-4" %>
      </div>

    <% end %>
    </div>
  </div>
</section>