<section class="content invoice">
  <div class="row">
  <h2> </h2>
    <div class="col-md-12">
      <%= form_for(@usuario, :html => { :role => "form" }) do |f| %>
        <% if @usuario.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h4><%= pluralize(@usuario.errors.count, "errores") %> prohibido guardar este usuario:</h4>

            <ul>
            <% @usuario.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>



  <div class="row">
      <div class="form-group" style="margin-top: 15px;">
        <%= f.label :nombre,"Nombre", :class =>"col-md-1" %>
      </div>
      <div class="form_group"  style="margin-bottom: 10px;">
        <%= f.text_field :nombre, placeholder: "Ingrese Nombre" , :class =>"col-md-4" %>
      </div>
  </div>

  <div class="row">    
      <div class="form-group" style="margin-top: 15px;">
        <%= f.label :email,"Email", :class =>"col-md-1" %>
      </div>
      <div class="form_group"  style="margin-bottom: 10px;">
        <%= f.email_field :email, placeholder: "Ingrese Email" , :class =>"col-md-4" %>
      </div>
  </div>


  <div class="row">    
      <div class="form-group" style="margin-top: 15px;">
        <%= f.label :rol_id,"Rol", :class =>"col-md-1" %>
      </div>
      <div class="form_group"  style="margin-bottom: 10px;">
        <%= f.text_field :rol_id, placeholder: "Ingrese Rol" , :class =>"col-md-4" %>
      </div>
  </div>

  <div class="row">
      <div class="form-group" style="margin-top: 15px;">
        <div class="form-group botones2">
          <%= f.submit :class => "btn btn-primary" %>
        </div>
      </div>
  </div>
     
    <% end %>
    </div>
  </div>
</section>