<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Objetivos</h1>
        <div class="row">
         <span class="btn btn-default btn bt pull-right glyphicon glyphicon-plus"><%= link_to 'Crear Objetivo',nuevo_objetivo_path %></span>
        </div>
  </section>
<% end %>

<section class="content invoice">
	<table class="table">
    <thead>
    <tr>
      <th>Texto</th>
      <th>Nombre</th>
      <th>Clasificacion</th>
      <th>Area</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
    	<% @objetivos.each do |objetivo|%>
    	<tr>
    		<td><%= objetivo.texto.to_s%> </td>
    		<td><%= objetivo.nombre.to_s%> </td>
    		<td><%= objetivo.clasificacion_id.to_s%> </td>
    		<td><%= objetivo.area_id.to_s%> </td>
    	</tr>
    	<% end %>
    </tbody>
    </table>
    <%= will_paginate @usuarios, renderer: BootstrapPagination::Rails %>
</section>